button{
	font-size:20px;
}
h4{
	text-align:center;
}

#num1{
	height:50px;
	width: 250px;
}

#divi{
	padding:20px;
	text-align:center;
	border-radius:20px;
	margin:auto;
	background-color:#57d1f9;
	width:50vh;
}
.content{
border-color:black;
	border-radius:8px;
	padding:10px;
}
#equal{
width:25%;
	background-color:#59f78d;
}
#clear{
	background-color:#ff795e;
}
#plus{background-color:#cf64fc;}
#minus{background-color:#cf64fc;}
#mul{background-color:#cf64fc;}
#div{background-color:#cf64fc;}

.pad{
	background-color:#cf64fc;
	border-color: black;
	border-radius:8px;
	height: 50px;
	width: 50px;
}
